* {
  margin: 0;
  padding: 0;
}

.container {
  background-image: url(https://images.unsplash.com/photo-1557162471-8752b8dd92f9?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.img {
  width: 30%;
}

.wrapper {
  width: 600px;
  height: 350px;
  margin: auto;
  background: #ffe2e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
  border-radius: 5%;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  color: #445A6F;
  margin: 40px 0;
}

input {
  margin: 20px 0;
  width: 300px;
  padding: 8px;
}

input:focus-visible {
  outline: none;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #445A6F;
  border: 1px solid #445A6F;
  color: #fff;
  font-size: 20px;
  margin: 30px 0;
}